<section class="page page-howitworks text-center page-theme--light page-orientation--fullpage">

    <div class="container pt-10 pb-10">

        <header class="page-header mb-5 fade-in">
            <h3 class="header-title font--black">Lorem ipsum dolor sit?</h3>
        </header>
        <!-- /.page-header -->

        <div id="accordion">

            <div class="card text-left">
                <div class="card-header" id="headingOne">
                    <h4 class="card-heading mb-0">
                        <button class="btn btn-link btn-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Lorem ipsum dolor sit, amet consectetur adipisicing?
                        </button>
                    </h4>
                </div>
                <!-- /.card-header -->

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <p class="lead">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi cupiditate excepturi architecto incidunt? Corporis eveniet voluptates odit, assumenda dolorem rem iste! Deserunt nisi quasi, quas aperiam asperiores provident repellat aliquam impedit dolorum neque. Consequuntur natus, blanditiis accusantium, possimus laborum odio harum mollitia non sit recusandae impedit exercitationem nobis laudantium deserunt officia iste quam eius est necessitatibus quia nisi quae dolores.
                        </p>
                    </div>
                </div>
                <!-- /.collapse -->
            </div>
            <!-- /.card -->

            <div class="card text-left">
                <div class="card-header" id="headingTwo">
                    <h4 class="card-heading mb-0">
                        <button class="btn btn-link btn-block" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            Lorem ipsum dolor sit amet consectetur?
                        </button>
                    </h4>
                </div>
                <!-- /.card-header -->

                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <p class="lead">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi cupiditate excepturi architecto incidunt? Corporis eveniet voluptates odit, assumenda dolorem rem iste! Deserunt nisi quasi, quas aperiam asperiores provident repellat aliquam impedit dolorum neque. Consequuntur natus, blanditiis accusantium, possimus laborum odio harum mollitia non sit recusandae impedit exercitationem nobis laudantium deserunt officia iste quam eius est necessitatibus quia nisi quae dolores.
                        </p>
                    </div>
                </div>
                <!-- /.collapse -->
            </div>
            <!-- /.card -->

            <div class="card text-left">
                <div class="card-header" id="headingThree">
                    <h4 class="card-heading mb-0">
                        <button class="btn btn-link btn-block" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            Lorem ipsum
                        </button>
                    </h4>
                </div>
                <!-- /.card-header -->

                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <p class="lead">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi cupiditate excepturi architecto incidunt? Corporis eveniet voluptates odit, assumenda dolorem rem iste! Deserunt nisi quasi, quas aperiam asperiores provident repellat aliquam impedit dolorum neque. Consequuntur natus, blanditiis accusantium, possimus laborum odio harum mollitia non sit recusandae impedit exercitationem nobis laudantium deserunt officia iste quam eius est necessitatibus quia nisi quae dolores.
                        </p>
                    </div>
                </div>
                <!-- /.collapse -->
            </div>
            <!-- /.card -->

            <div class="card text-left">
                <div class="card-header" id="headingFour">
                    <h4 class="card-heading mb-0">
                        <button class="btn btn-link btn-block" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            Lorem ipsum dolor
                        </button>
                    </h4>
                </div>
                <!-- /.card-header -->

                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                        <p class="lead">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi cupiditate excepturi architecto incidunt? Corporis eveniet voluptates odit, assumenda dolorem rem iste! Deserunt nisi quasi, quas aperiam asperiores provident repellat aliquam impedit dolorum neque. Consequuntur natus, blanditiis accusantium, possimus laborum odio harum mollitia non sit recusandae impedit exercitationem nobis laudantium deserunt officia iste quam eius est necessitatibus quia nisi quae dolores.
                        </p>
                    </div>
                </div>
                <!-- /.collapse -->
            </div>
            <!-- /.card -->

            <div class="card text-left">
                <div class="card-header" id="headingFive">
                    <h4 class="card-heading mb-0">
                        <button class="btn btn-link btn-block" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                            Lorem ipsum dolor sit amet
                        </button>
                    </h4>
                </div>
                <!-- /.card-header -->

                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body">
                        <p class="lead">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi cupiditate excepturi architecto incidunt? Corporis eveniet voluptates odit, assumenda dolorem rem iste! Deserunt nisi quasi, quas aperiam asperiores provident repellat aliquam impedit dolorum neque. Consequuntur natus, blanditiis accusantium, possimus laborum odio harum mollitia non sit recusandae impedit exercitationem nobis laudantium deserunt officia iste quam eius est necessitatibus quia nisi quae dolores.
                        </p>
                    </div>
                </div>
                <!-- /.collapse -->
            </div>
            <!-- /.card -->

        </div>
        <!-- /.accordion -->
    
    </div>
    <!-- /.container -->

    <div class="page-image" data-paroller-factor="0.3"></div>

</section>
<!-- /.page-howitworks -->