<section class="page page-gallery text-center" id="clients">

    <svg class="page-decor page-decor--top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 65.111">
        <path class="brand-decor" d="M1176,0v0.139h-61.403c-59.903,0-110.898,21.043-152.984,63.129l-1.843,1.843l-1.382-1.843 C916.301,21.182,865.307,0.139,805.403,0.139H744V0H0v65.111h457.399h299.184h427.106h219.495H1920V0H1176z"/>
    </svg>

    <div class="container pt-10 pb-10">

        <header class="page-header text-center fade-in">
            <h3 class="header-title font--black">Clients</h3>
        </header>
        <!-- /.page-header -->

        <div class="row justify-content-md-center">
            <div class="col-md-7 fade-in">
                <p class="lead pt-5">We in SolidForm believe in not just providing a service to our clients but forming a relationship based on understanding our client’s needs and then developing a solution based on those needs. We insist on an open and constant flow of ideas and information, established on mutual trust and respect. We strengthen that relationship and the success of our clients by regularly monitoring and addressing any situations that might arise.<br>These are our loyal clients:</p>
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    
        <div class="row mt-5 gallery--grayscale justify-content-md-center">
            <div class="col-sm-3 fade-in">
                <img class="fade-in" src="assets/images/clients/almac.png" alt="ALMAC">
                <p class="lead fade-in">ALMAC</p>
            </div>
            <!-- /.col-sm-3 -->
            <div class="col-sm-3 fade-in">
                <img class="fade-in" src="assets/images/clients/inpirio.png" alt="INPIRIO">
                <p class="lead fade-in">INPIRIO</p>
            </div>
            <!-- /.col-sm-3 -->
            <div class="col-sm-3 fade-in">
                <img class="fade-in" src="assets/images/clients/medianet.png" alt="MediaNet">
                <p class="lead fade-in">MediaNet</p>
            </div>
            <!-- /.col-sm-3 -->
        </div>
        <!-- /.row -->
        
        <div class="row  mt-5 gallery--grayscale justify-content-md-center">
            <div class="col-sm-3 fade-in">
                <img class="fade-in" src="assets/images/clients/pkb.png" alt="Patient Knows Best">
                <p class="lead fade-in">Patient Knows Best</p>
            </div>
            <!-- /.col-sm-3 -->
            <div class="col-sm-3 fade-in">
                <img class="fade-in" src="assets/images/clients/point.png" alt="POINT">
                <p class="lead fade-in">POINT</p>
            </div>
            <!-- /.col-sm-3 -->
            <div class="col-sm-3 fade-in">
                <img class="fade-in" src="assets/images/clients/qognify.png" alt="Qognify">
                <p class="lead fade-in">Qognify</p>
            </div>
            <!-- /.col-sm-3 -->
        </div>
        <!-- /.row -->
    
    </div>
    <!-- /.container --> 

</section>
<!-- /.page -->