<section class="page-careercontact @@page-theme">

<div class="container">

  <div class="after-submit">
    <h3>Thank you!</h3>
    <p class="lead">Your message was successfully submitted!</p>
  </div>
  <!-- /.after-submit -->
  
  <form action="#">

    <div class="row">
      <div class="col-md-6">
        
        <div class="form-group">
          <label for="contact-first-name">First name*</label>
          <input type="text" class="form-control form-control-lg is-invalid" id="contact-first-name" placeholder="">
          <div class="invalid-feedback">
            Please fill out all required fields.
          </div>
        </div>
        
        <div class="form-group">
          <label for="contact-last-name">Last name*</label>
          <input type="text" class="form-control form-control-lg" id="contact-last-name" placeholder="">
        </div>
        
        <div class="form-group">
          <label for="contact-email">E-mail*</label>
          <input type="email" class="form-control form-control-lg" id="contact-email" placeholder="">
        </div>
        
        <div class="form-group">
          <label for="contact-form--select">Select</label>
          <select class="form-control form-control-lg">
            <option selected>-- Select --</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        
        <div class="form-group">
          <label for="contact-yourmessage">Your message</label>
          <textarea class="form-control form-control-lg" id="contact-yourmessage" rows="4"></textarea>
        </div>
        
        <div class="form-group">
          <label for="contact-cv">Attach file*</label>
          <input type="file" class="form-control-file" id="contact-file">
        </div>
        
        
        
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">I agree to SolidForm <a href="privacypolicy.html">Terms and Privacy Policy</a></label>
        </div>
        
      </div>
      <!-- /.col-md-6 -->

      <div class="col-md-6">

        <br>
        
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam placeat exercitationem delectus molestiae ducimus error aspernatur at neque mollitia facilis?</p>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur enim quibusdam placeat sapiente. Recusandae possimus in velit corporis, accusamus quaerat repudiandae laudantium similique rem minus molestiae? Ex fugiat ea ratione?</p>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis doloremque dolor sed velit consectetur. Soluta esse, doloribus velit explicabo nostrum optio ratione atque vero expedita, repellat pariatur repellendus iste laudantium nulla. Sed fugiat fugit rerum soluta. Repellendus commodi ut iure.</p>

      </div>
      <!-- /.col-md-6 -->

      </div>
      <!-- /.row -->

      <div class="text-center mt-5">

        <button type="submit" class="btn btn-lg btn-outline-primary">Submit</button>

      </div>

    </form>
</div>
<!-- /.container -->

</section>
<!-- /.page-careercontact -->