<section class="page page-help page-theme--light page-orientation--fullpage text-center">

    <div class="container pt-10 pb-10">

        <header class="page-header text-center fade-in">
            <h3 class="header-title font--black">@@content-title</h3>
        </header>
        <!-- /.page-header -->

        <div class="row justify-content-md-center">
            <div class="col-md-7 fade-in">
                <p class="lead pt-5">@@content-p-1</p>
                <p class="lead pt-5">@@content-p-2</p>
                <a href="contact.html" class="btn btn-primary btn-lg fade-in mt-5">Click here!</a>
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    
    </div>
    <!-- /.container -->

    <div class="page-image" data-paroller-factor="0.3"></div>

</section>
<!-- /.page -->