<section class="page text-center">

    <svg class="page-decor page-decor--top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 65.111">
        <path class="brand-decor" d="M1176,0v0.139h-61.403c-59.903,0-110.898,21.043-152.984,63.129l-1.843,1.843l-1.382-1.843 C916.301,21.182,865.307,0.139,805.403,0.139H744V0H0v65.111h457.399h299.184h427.106h219.495H1920V0H1176z"/>
    </svg>

    <div class="container pt-5 pb-10">
        
        <header class="page-header text-center fade-in">
            <h3 class="header-title font--black">Icons and text</h3>
        </header>
        <!-- /.page-header -->
    
        <div class="row mt-5">
            <div class="col-sm-6 text-center fade-in">
                <img class="icon fade-in" src="assets/images/icons/candidate.svg" alt="Top Quality" width="100" height="100">
                <h5 class="fade-in">Lorem ispum</h5>
                <p class="lead fade-in">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam praesentium ipsa molestiae veritatis corporis in.</p>
            </div>
            <!-- /.col-sm-6 -->
            <div class="col-sm-6 text-center fade-in">
                <img class="icon fade-in" src="assets/images/icons/performance-review.svg" alt="Precise fit" width="100" height="100">
                <h5 class="fade-in">Lorem ipsum dolor</h5>
                <p class="lead fade-in">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, odio. Architecto, obcaecati?</p>
            </div>
            <!-- /.col-sm-6 -->
            <div class="col-sm-6 text-center fade-in">
                <img class="icon fade-in" src="assets/images/icons/contract.svg" alt="Fast hiring" width="100" height="100">
                <h5 class="fade-in">Lorem ipsum dolor sit.</h5>
                <p class="lead fade-in">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea aut eius delectus praesentium velit, expedita in.</p>
            </div>
            <!-- /.col-sm-6 -->
            <div class="col-sm-6 text-center fade-in">
                <img class="icon fade-in" src="assets/images/icons/budget.svg" alt="Competitive pricing" width="100" height="100">
                <h5 class="fade-in">Sit Amit Lorem</h5>
                <p class="lead fade-in">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe nulla tempore quisquam?</p>
            </div>
            <!-- /.col-sm-6 -->
        </div>
        <!-- /.row -->
    
    </div>
    <!-- /.container -->

</section>
<!-- /.page -->