<section class="page text-center page-@@theme">

    <svg class="page-decor page-decor--top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 65.111">
        <path class="brand-decor" d="M1176,0v0.139h-61.403c-59.903,0-110.898,21.043-152.984,63.129l-1.843,1.843l-1.382-1.843 C916.301,21.182,865.307,0.139,805.403,0.139H744V0H0v65.111h457.399h299.184h427.106h219.495H1920V0H1176z"/>
    </svg>

    <div class="container pt-5 pb-5">

        <header class="page-header mb-5 fade-in">
            <h3 class="header-title font--black">@@content-title</h3>
        </header>
        <!-- /.page-header -->
        
        <div class="row justify-content-md-center fade-in">
            <div class="col-md-6">
                <p class="lead">@@content-lead</p>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->

        <div class="row mt-5 justify-content-md-center">
            <div class="col-md-5 fade-in">
                <div class="card-container mx-auto">
                    <div class="card card-flip">
                        <div class="front">
                            <img class="icon" src="assets/images/icons/@@card-1-icon.svg" alt="@@card-1-title" width="100" height="100">
                            <h5>@@card-1-title</h5>
                        </div>
                        <!-- /.front -->
                        <div class="back">
                            <p class="lead">@@card-1-excerpt</p>
                            <a href="#" class="btn btn-outline-light">@@card-1-btn-txt</a>
                        </div>
                        <!-- /.back -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.card-container -->
            </div>
            <!-- /.col-md-5 -->
            <div class="col-md-5 fade-in">
                <div class="card-container mx-auto">
                    <div class="card card-flip">
                        <div class="front">
                            <img class="icon" src="assets/images/icons/@@card-2-icon.svg" alt="@@card-2-title" width="100" height="100">
                            <h5>@@card-2-title</h5>
                        </div>
                        <!-- /.front -->
                        <div class="back">
                            <p class="lead">@@card-2-excerpt</p>
                            <a href="#" class="btn btn-outline-light">@@card-2-btn-txt</a>
                        </div>
                        <!-- /.back -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.card-container -->
            </div>
            <!-- /.col-md-5 -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</section>
<!-- /.page -->