<section class="page text-center page-@@theme" id="@@page-section-id">

    <svg class="page-decor page-decor--top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 65.111">
        <path class="brand-decor" d="M1176,0v0.139h-61.403c-59.903,0-110.898,21.043-152.984,63.129l-1.843,1.843l-1.382-1.843 C916.301,21.182,865.307,0.139,805.403,0.139H744V0H0v65.111h457.399h299.184h427.106h219.495H1920V0H1176z"/>
    </svg>

    <div class="container pt-10 pb-10">

        <header class="page-header mb-5 fade-in">
            <h3 class="header-title font--black">@@content-title</h3>
        </header>
        <!-- /.page-header -->
        
        <div class="row justify-content-md-center fade-in">
            <div class="col-md-6">
                <p class="lead">@@content-lead</p>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->

        <div class="row mt-5 justify-content-md-center">
            <div class="col-md-4 fade-in">
                
                <div class="card-container mx-auto">
                    <div class="card card-flip">
                        <div class="front card-1">
                            <img class="card-img" src="assets/images/dig-ser-adv-soft-sol.png" alt="@@card-1-title">
                            <h6 class="mb-4">@@card-1-title</h6>
                            <!-- <p>Custom software development is often seen as a complex and expensive process. However, we do things differently. We focus on creating easy-to-use, value-added software.</p> -->
                            <a href="digital-services.html" class="btn btn-xs btn-outline-primary">Read more</a>
                        </div>
                        <!-- /.front -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.card-container -->
            </div>
            <!-- /.col-md-4 -->
            
            <div class="col-md-4 fade-in">

                <div class="card-container mx-auto">
                    <div class="card card-flip">
                        <div class="front card-2">
                            <img class="card-img" src="assets/images/dig-ser-modernization.png" alt="@@card-2-title">
                            <h6 class="mb-4">@@card-2-title</h6>
                            <!-- <p>Because customizing an existing piece of software can be much faster and cheaper than developing a new one from scratch we at SolidForm help you re-imagine old software and bring it up to date with the latest technology standards.</p> -->
                            <a href="digital-services.html" class="btn btn-xs btn-outline-primary">Read more</a>
                        </div>
                        <!-- /.front -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.card-container -->

            </div>
            <!-- /.col-md-4 -->

            <div class="col-md-4 fade-in">
                
                <div class="card-container mx-auto">
                    <div class="card card-flip">
                        <div class="front card-3">
                            <img class="card-img" src="assets/images/dig-ser-integration.png" alt="@@card-3-title">
                            <h6 class="mb-4">@@card-3-title</h6>
                            <!-- <p>If you're looking for a custom software development company that can help you gather data from small IoT devices and sensors, as well as automate your processes, you've come to the right place.</p> -->
                            <a href="digital-services.html" class="btn btn-xs btn-outline-primary">Read more</a>
                        </div>
                        <!-- /.front -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.card-container -->
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
        
        <div class="row mt-5 justify-content-md-center">

            <div class="col-md-4 fade-in">
                
                <div class="card-container mx-auto">
                    <div class="card card-flip">
                        <div class="front card-4">
                            <img class="card-img" src="assets/images/dig-ser-cloud.png" alt="@@card-4-title">
                            <h6 class="mb-4">@@card-4-title</h6>
                            <!-- <p>In case you are searching for a custom software solution, then you may want to consider having your application running as an Application service or binary daemon application on a Virtual Machine.</p> -->
                            <a href="digital-services.html" class="btn btn-xs btn-outline-primary">Read more</a>
                        </div>
                        <!-- /.front -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.card-container -->
            </div>
            <!-- /.col-md-4 -->

            <div class="col-md-4 fade-in">
    
                <div class="card-container mx-auto">
                    <div class="card card-flip">
                        <div class="front card-5">
                            <img class="card-img" src="assets/images/dig-ser-support.png" alt="@@card-5-title">
                            <h6 class="mb-4">@@card-5-title</h6>
                            <!-- <p>We understand that maintenance and keeping systems up to date require resources. If you want to focus on expanding your business and not spend resources, we will take that burden.</p> -->
                            <a href="digital-services.html" class="btn btn-xs btn-outline-primary">Read more</a>
                        </div>
                        <!-- /.front -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.card-container -->
    
            </div>
            <!-- /.col-md-4 -->
            
            <div class="col-md-4 fade-in">
    
                <div class="card-container mx-auto">
                    <div class="card card-flip">
                        <div class="front card-6">
                            <img class="card-img" src="assets/images/dig-ser-maintenance.png" alt="@@card-6-title">
                            <h6 class="mb-4">@@card-6-title</h6>
                            <!-- <p>As a custom software development company, we are always up to speed with the latest technology trends. Our engineers are constantly researching and keeping up with the latest advancements in the field.</p> -->
                            <a href="digital-services.html" class="btn btn-xs btn-outline-primary">Read more</a>
                        </div>
                        <!-- /.front -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.card-container -->
            </div>
            <!-- /.col-md-4 -->
        </div>

        <div class="row mt-5 justify-content-md-center">
            <div class="col-md-4 fade-in">
                
                <div class="card-container mx-auto">
                    <div class="card card-flip">
                        <div class="front card-7">
                            <img class="card-img" src="assets/images/dig-ser-architecture.png" alt="@@card-7-title">
                            <h6 class="mb-4">@@card-7-title</h6>
                            <!-- <p>We've seen firsthand how important it is to choose the right architecture and technology for each project. We'll work with you to understand your specific needs and then provide a recommendation.</p> -->
                            <a href="digital-services.html" class="btn btn-xs btn-outline-primary">Read more</a>
                        </div>
                        <!-- /.front -->

                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.card-container -->
            </div>
            <!-- /.col-md-4 -->
            
            <div class="col-md-4 fade-in">

                <div class="card-container mx-auto">
                    <div class="card card-flip">
                        <div class="front card-8">
                            <img class="card-img" src="assets/images/dig-ser-automation.png" alt="@@card-8-title">
                            <h6 class="mb-4">@@card-8-title</h6>
                            <!-- <p>Our mission is to ensure the fastest product delivery and, at the same time, the highest product quality. We achieve these goals by automating every phase of the software development project life cycle.</p> -->
                            <a href="digital-services.html" class="btn btn-xs btn-outline-primary">Read more</a>
                        </div>
                        <!-- /.front -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.card-container -->

            </div>
            <!-- /.col-md-4 -->
            
            <div class="col-md-4 fade-in">

                <div class="card-container mx-auto">
                    <div class="card card-flip">
                        <div class="front card-9">
                            <img class="card-img" src="assets/images/dig-ser-quality.png" alt="@@card-9-title">
                            <h6 class="mb-4">@@card-9-title</h6>
                            <!-- <p>Automated testing is a vital part of custom software development. By automating the testing process, we can ensure that every build/version of your software is fully tested with all the relevant scenarios.</p> -->
                            <a href="digital-services.html" class="btn btn-xs btn-outline-primary">Read more</a>
                        </div>
                        <!-- /.front -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.card-container -->
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <svg class="page-decor-negative" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 65.111">
        <path class="brand-decor" d="M1114.597,0.139H1176V0H744v0.139h61.403c59.904,0,110.898,21.043,152.985,63.129l1.382,1.843l1.843-1.843 C1003.699,21.182,1054.694,0.139,1114.597,0.139z"/>
    </svg>   

</section>
<!-- /.page -->