<section class="page page-working text-center page-light">

    <svg class="page-decor page-decor--top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 65.111">
        <path class="brand-decor" d="M1176,0v0.139h-61.403c-59.903,0-110.898,21.043-152.984,63.129l-1.843,1.843l-1.382-1.843 C916.301,21.182,865.307,0.139,805.403,0.139H744V0H0v65.111h457.399h299.184h427.106h219.495H1920V0H1176z"/>
    </svg>

    <div class="container pt-5 pb-10">
        
        <header class="page-header fade-in">
            <h3 class="header-title font--black">Image scale in on hover</h3 c>
        </header>
        <!-- /.page-header -->

        <div class="row justify-content-md-center fade-in">
            <div class="col-md-6">
                <p class="lead pt-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae itaque in qui quis iste tenetur magnam laudantium veritatis adipisci explicabo.</p>
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->

        <div class="row mt-5">
            <div class="col-sm-6 col-lg-4 fade-in">
                <div class="img-container mx-auto img-startups">
                    <div class="img">
                        <div class="front">
                            <h5>Lorem dolor</h5>
                        </div>
                        <!-- /.front -->
                        <div class="back">
                            <h5>Lorem dolor</h5>
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, nisi!</p>
                        </div>
                        <!-- /.back -->
                    </div>
                    <!-- /.img -->
                </div>
                <!-- /.img-container -->
            </div>
            <!-- /.col-sm-6 col-lg-4 -->
            <div class="col-sm-6 col-lg-4 fade-in">
                <div class="img-container mx-auto img-sbusinesses">
                    <div class="img">
                        <div class="front">
                            <h5>Lorem ipsum</h5>
                        </div>
                        <!-- /.front -->
                        <div class="back">
                            <h5>Lorem ipsum</h5>
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, dolorem.</p>
                        </div>
                        <!-- /.back -->
                    </div>
                    <!-- /.img -->
                </div>
                <!-- /.img-container -->
            </div>
            <!-- /.col-sm-6 col-lg-4 -->
            <div class="col-sm-12 col-lg-4 fade-in">
                <div class="img-container mx-auto img-enterprises">
                    <div class="img">
                        <div class="front">
                            <h5>Lorem</h5>
                        </div>
                        <!-- /.front -->
                        <div class="back">
                            <h5>Lorem</h5>
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, dolorem.</p>
                        </div>
                        <!-- /.back -->
                    </div>
                    <!-- /.img -->
                </div>
                <!-- /.img-container -->
            </div>
            <!-- /.col-sm-12 col-lg-4 -->
        </div>
        <!-- /.row -->

        <div class="row mt-5 d-none">
            <div class="col-sm-4">
                <img class="icon" src="assets/images/icons/garage.svg" alt="Startup" width="100" height="100">
                <p class="lead">Startups</p>
            </div>
            <!-- /.col-sm-4 -->
            <div class="col-sm-4">
                <img class="icon" src="assets/images/icons/shop.svg" alt="Small businesses" width="100" height="100">
                <p class="lead">Small businesses</p>
            </div>
            <!-- /.col-sm-4 -->
            <div class="col-sm-4">
                <img class="icon" src="assets/images/icons/office.svg" alt="Enterprises" width="120" height="120">
                <p class="lead">Enterprises</p>
            </div>
            <!-- /.col-sm-4 -->
        </div>
        <!-- /.row -->
    
    </div>
    <!-- /.container -->

</section>
<!-- /.page-working -->