<section class="page text-center page-@@theme">
    <div class="container pt-5 pb-5">

        <div class="row mt-5 justify-content-md-center">
            <div class="col-md-4 fade-in">
                <div class="card-container mx-auto">
                    <div class="card card-flip">
                        <div class="front">
                            <img class="icon" src="assets/images/icons/@@card-1-icon.svg" alt="@@card-1-title" width="100" height="100">
                            <h5>@@card-1-title</h5>
                        </div>
                        <!-- /.front -->
                        <div class="back">
                            <p class="lead">@@card-1-excerpt</p>
                            <a href="#" class="btn btn-outline-light">@@card-1-btn-txt</a>
                        </div>
                        <!-- /.back -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.card-container -->
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 fade-in">
                <div class="card-container mx-auto">
                    <div class="card card-flip">
                        <div class="front">
                            <img class="icon" src="assets/images/icons/@@card-2-icon.svg" alt="@@card-2-title" width="100" height="100">
                            <h5>@@card-2-title</h5>
                        </div>
                        <!-- /.front -->
                        <div class="back">
                            <p class="lead">@@card-2-excerpt</p>
                            <a href="#" class="btn btn-outline-light">@@card-2-btn-txt</a>
                        </div>
                        <!-- /.back -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.card-container -->
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 fade-in">
                <div class="card-container mx-auto">
                    <div class="card card-flip">
                        <div class="front">
                            <img class="icon" src="assets/images/icons/@@card-3-icon.svg" alt="@@card-3-title" width="100" height="100">
                            <h5>@@card-3-title</h5>
                        </div>
                        <!-- /.front -->
                        <div class="back">
                            <p class="lead">@@card-3-excerpt</p>
                            <a href="#" class="btn btn-outline-light">@@card-3-btn-txt</a>
                        </div>
                        <!-- /.back -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.card-container -->
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</section>
<!-- /.page -->