<section class="page page-intro page-orientation--c page-theme--light d-flex align-items-center">

    <div class="container">

        <header class="page-header pb-3 mt-20">
            <h3 class="header-title font--thin mb-0"><span class="font--black">Progressive digital solutions</span><br>tailored to your needs</h3>
            <!-- <h3 class="header-title font--black text-primary">Software developers</h3> -->
        </header>
        <!-- /.page-header -->

        <a href="#about-us" class="btn btn-outline-light btn-lg mt-5 visible scroll-to btn-intro">Learn more</a><br>

    </div>
    <!-- /.container -->

    <!-- <div class="page-image" data-paroller-factor="0.3"></div> -->

    <video autoplay muted loop id="myVideo">
        <source src="assets/images/pages/landing-page-1.mp4" type="video/mp4">
      </video>

</section>
<!-- /.page-intro -->