<section class="page page-intro page-orientation--l page-theme--light d-flex align-items-center">

    <div class="container">

        <header class="page-header pb-3">
            <h3 class="header-title font--thin mb-0">Intro section with</h3>
            <div class="rolodex">
                <ul class="roll-one font--black text-primary">
                    <li>Scrolling text</li>
                    <li>Checked text list</li>
                    <li>A Button</li>
                    <li>Small text with links</li>
                    <li>Scrolling text</li>
                </ul>
            </div>
            <!-- <h3 class="header-title font--black text-primary">Software developers</h3> -->
        </header>
        <!-- /.page-header -->

        <ul class="list-check mb-5 fade-in visible">
            <li class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing.</li class="lead">
            <li class="lead">Lorem ipsum dolor sit amet.</li>
            <li class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam.</li>
        </ul>

        <a href="#" class="btn btn-primary btn-lg mb-3 fade-in visible">Lorem ipsum</a><br>
        <small class="help-text fade-in visible">Lorem ipsum <a href="careers.html">dolor sit amet</a>.</small>


    </div>
    <!-- /.container -->

    <div class="page-image" data-paroller-factor="0.3"></div>

</section>
<!-- /.page-intro -->