<section class="page page-gallery text-center">

    <svg class="page-decor page-decor--top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 65.111">
        <path class="brand-decor" d="M1176,0v0.139h-61.403c-59.903,0-110.898,21.043-152.984,63.129l-1.843,1.843l-1.382-1.843 C916.301,21.182,865.307,0.139,805.403,0.139H744V0H0v65.111h457.399h299.184h427.106h219.495H1920V0H1176z"/>
    </svg>

    <div class="container pt-5 pb-10">

        <header class="page-header text-center fade-in">
            <h3 class="header-title font--black">Icons</h3>
        </header>
        <!-- /.page-header -->

        <div class="row justify-content-md-center">
            <div class="col-md-7 fade-in">
                <p class="lead pt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque corporis voluptas quisquam laborum quibusdam eius soluta qui ea iste ad, dicta deserunt ratione delectus? Similique voluptatum vitae ab modi delectus.</p>
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    
        <div class="row mt-5 gallery--grayscale">
            <div class="col-sm-3 fade-in">
                <img class="fade-in" src="assets/images/icons/technologies/react.svg" alt="React">
                <p class="lead fade-in">React</p>
            </div>
            <!-- /.col-sm-3 -->
            <div class="col-sm-3 fade-in">
                <img class="fade-in" src="assets/images/icons/technologies/angular.svg" alt="Agular">
                <p class="lead fade-in">Angular</p>
            </div>
            <!-- /.col-sm-3 -->
            <div class="col-sm-3 fade-in">
                <img class="fade-in" src="assets/images/icons/technologies/javascript.svg" alt="JavaScript">
                <p class="lead fade-in">JavaScript</p>
            </div>
            <!-- /.col-sm-3 -->
            <div class="col-sm-3 fade-in">
                <img class="fade-in" src="assets/images/icons/technologies/nodejs.svg" alt="Node JS">
                <p class="lead fade-in">Node.js</p>
            </div>
            <!-- /.col-sm-3 -->
        </div>
        <!-- /.row -->

        <div class="row gallery--grayscale">
            <div class="col-sm-3 fade-in">
                <img class="fade-in" src="assets/images/icons/technologies/uxui.svg" alt="UI UX">
                <p class="lead fade-in">UI/UX</p>
            </div>
            <!-- /.col-sm-3 -->
            <div class="col-sm-3 fade-in">
                <img class="fade-in" src="assets/images/icons/technologies/python.svg" alt="Python">
                <p class="lead fade-in">Python</p>
            </div>
            <!-- /.col-sm-3 -->
            <div class="col-sm-3 fade-in">
                <img class="fade-in" src="assets/images/icons/technologies/java.svg" alt="Java">
                <p class="lead fade-in">Java</p>
            </div>
            <!-- /.col-sm-3 -->
            <div class="col-sm-3 fade-in">
                <img class="fade-in" src="assets/images/icons/technologies/c++.svg" alt="C++">
                <p class="lead fade-in">C / C++</p>
            </div>
            <!-- /.col-sm-3 -->
        </div>
        <!-- /.row -->
    
    </div>
    <!-- /.container -->

    <svg class="page-decor-negative" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 65.111">
        <path class="brand-decor" d="M1114.597,0.139H1176V0H744v0.139h61.403c59.904,0,110.898,21.043,152.985,63.129l1.382,1.843l1.843-1.843 C1003.699,21.182,1054.694,0.139,1114.597,0.139z"/>
    </svg>   

</section>
<!-- /.page -->