<section class="page text-center page-@@theme" id="@@page-section-id">

    <svg class="page-decor page-decor--top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 65.111">
        <path class="brand-decor" d="M1176,0v0.139h-61.403c-59.903,0-110.898,21.043-152.984,63.129l-1.843,1.843l-1.382-1.843 C916.301,21.182,865.307,0.139,805.403,0.139H744V0H0v65.111h457.399h299.184h427.106h219.495H1920V0H1176z"/>
    </svg>

    <div class="container pt-10 pb-10">
    
        <header class="page-header mb-5 fade-in">
            <h3 class="header-title font--black">@@content-title</h3>
            <!-- <h4 class="header-title font--thin">Your Hiring Alternative</h4> -->
        </header>
        <!-- /.page-header -->
            
        <div class="@@layout @@layout-@@direction">
            <div class="col-md-6 text-left pt-3 fade-in">
                <h5 class="font--thin mb-3">@@content-lead</h5>
                <p class="lead">@@content-p-1</p>
                <p class="lead">@@content-p-2</p>
            </div>
            <!-- /.col-md-6 -->
            <div class="col-md-1"></div>
            <div class="col-md-5 fade-in">
                <img class="img-fluid" src="assets/images/@@image" alt="@@content-title">
            </div>
            <!-- /.col-md-5 -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <svg class="page-decor-negative" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 65.111">
        <path class="brand-decor" d="M1114.597,0.139H1176V0H744v0.139h61.403c59.904,0,110.898,21.043,152.985,63.129l1.382,1.843l1.843-1.843 C1003.699,21.182,1054.694,0.139,1114.597,0.139z"/>
    </svg>  

</section>
<!-- /.page -->