<section class="page page-recruiting text-center">

    <svg class="page-decor page-decor--top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 65.111">
        <path class="brand-decor" d="M37.391,0C23.036,0,9.689,9.771,7.578,21.825L0,65.111h1920V0H37.391z"/>
    </svg>
    

    <div class="container pt-5 pb-10">
    
        <header class="page-header mb-5 fade-in">
            <h3 class="header-title font--black">Text and text?</h3>
        </header>
        <!-- /.page-header -->

        <div class="row justify-content-md-center">
            <div class="col-sm-6 text-left fade-in">
                <p class="lead fade-in">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis unde autem ipsa voluptatibus eligendi perspiciatis qui rerum minus aperiam harum necessitatibus tempora expedita, atque deleniti soluta provident eum officiis dolor? Assumenda, similique?</p>
                <p class="lead fade-in">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis unde autem ipsa voluptatibus eligendi perspiciatis qui rerum minus aperiam harum necessitatibus tempora expedita, atque deleniti soluta provident eum officiis dolor? Assumenda, similique?</p>
            </div>
            <!-- /.col-sm-6 -->
            <div class="col-sm-6 text-left fade-in">
                <p class="lead fade-in">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa libero itaque fugiat magni quidem blanditiis illo ad harum necessitatibus dolorem eum corrupti placeat in eos, laborum odit aliquid, reiciendis ullam nam aperiam aspernatur. Assumenda, similique?</p>
                <p class="lead fade-in">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa libero itaque fugiat magni quidem blanditiis illo ad harum necessitatibus dolorem eum corrupti placeat in eos, laborum odit aliquid, reiciendis ullam nam aperiam aspernatur. Assumenda, similique?</p>
            </div>
            <!-- /.col-sm-6 -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <svg class="page-decor page-decor--bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 65.111">
        <path class="brand-decor" d="M1912.422,43.286L1920,0H0v65.111h1882.609C1896.964,65.111,1910.311,55.34,1912.422,43.286z"/>
    </svg>
</section>
<!-- /.page-recruiting -->