<section class="page page-recruiting text-center">

    <svg class="page-decor page-decor--top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 65.111">
        <path class="brand-decor" d="M37.391,0C23.036,0,9.689,9.771,7.578,21.825L0,65.111h1920V0H37.391z"/>
    </svg>
    

    <div class="container pt-5 pb-10">
    
        <header class="page-header mb-5 fade-in">
            <h3 class="header-title font--black">Engineering without barriers</h3>
        </header>
        <!-- /.page-header -->

        <div class="row justify-content-md-center">
            <div class="col-sm-6 text-left fade-in">
                <p class="lead fade-in">Focus on remote work has enabled us to efficiently serve clients from across the globe. By creating an environment that is focused on flexibility and custom software development, we provide more value for the client and enable them to serve different timezones.</p>
                <p class="lead fade-in">SolidForm’s stepping out of the boundaries of traditional office organization has resulted in increased productivity and satisfaction from our clients.</p>
            </div>
            <!-- /.col-sm-6 -->
            <div class="col-sm-6 text-left fade-in">
                <p class="lead fade-in">Businesses today require custom software solutions to remain competitive and capitalize on opportunities. In order to get the most out of your resources and deliver better overall results, you need a partner that understands your specific business requirements and can design and implement software solutions accordingly. That's what we do at SolidForm. We use the best technologies and concepts, such as cloud-native and micro services-oriented architecture, to deliver custom software solutions that help our clients achieve their goals.</p>
            </div>
            <!-- /.col-sm-6 -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <svg class="page-decor page-decor--bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 65.111">
        <path class="brand-decor" d="M1912.422,43.286L1920,0H0v65.111h1882.609C1896.964,65.111,1910.311,55.34,1912.422,43.286z"/>
    </svg>
</section>
<!-- /.page-recruiting -->