	<footer class="page-footer">

		<div class="container">

			<div class="row">

				<div class="col-md-3 text-left">
					
					<img src="assets/images/branding/logo-full-negative-h.svg" alt="SolidForm" width="180">

					<address>
						<strong>SolidForm d.o.o.</strong><br>
						I Petruševec 80<br>
						10 000 Zagreb, Croatia<br>
						<a href="mail:info@solidform.hr">info@solidform.hr</a>
					  </address>
				</div>
				<!-- /.col-md-3 -->

				<div class="col-sm-4 col-md-3 text-md-right">
					<h6>Item title 1</h6>

					<ul class="list-unstyled">
						<li>
							<a href="index.html">Item subtitle 1</a>
						</li>
						<li>
							<a href="index-right.html">Item subtitle 2</a>
						</li>
						<li>
							<a href="index-center.html">Item subtitle 3</a>
						</li>
					</ul>
				</div>
				<!-- /.col-md-3 -->

				<div class="col-sm-4 col-md-3 text-md-right">
					<h6>Item title 2</h6>

					<ul class="list-unstyled">
						<li>
							<a href="index.html">Item subtitle 1</a>
						</li>
						<li>
							<a href="index-right.html">Item subtitle 2</a>
						</li>
						<li>
							<a href="index-center.html">Item subtitle 3</a>
						</li>
					</ul>
				</div>
				<!-- /.col-md-3 -->

				<div class="col-sm-4 col-md-3 text-md-right">
					<h6>Social</h6>
					<ul class="list-unstyled">
						<li>
							<a href="#">
								Facebook
								<i class="icon icon-social fab fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="#">
								Linkedin
								<i class="icon icon-social fab fa-linkedin"></i>
							</a>
						</li>
					</ul>
				</div>
				<!-- /.col-md-3 -->

			</div>
			<!-- /.row -->
			
		</div>
		<!-- /.container -->
	</footer>
	<!-- /.page-footer -->

	<div class="page-footer--copyright">

		<div class="container">
	
			<div class="row">
				<div class="col-sm-6 text-center text-sm-left">
					<small>SolidForm d.o.o. &copy; 2021. All rights reserved</small>
				</div>
				<!-- /.col-sm-6 -->
				<div class="col-sm-6 text-center text-sm-right">
					<ul class="list-inline mb-0">
						<li class="list-inline-item">
							<small><a href="impressum.html">Impressum</a></small>
						</li>
						<li class="list-inline-item">
							<small><a href="privacypolicy.html">Privacy Policy</a></small>
						</li>
					</ul>
				</div>
				<!-- /.col-sm-6 -->
			</div>
			<!-- /.row -->

		</div>
		<!-- /.container -->

	</div>
	<!-- /.page-footer--copyright -->

	<!-- scripts -->
	<script src="assets/js/vendors/modernizr.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="assets/js/vendors/jquery.min.js"><\/script>')</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="assets/js/vendors/jquery.paroller.min.js"></script>
	<script src="assets/js/app.js"></script>

</body>
</html>