/*!
 * Project name: solidform
 * Boilerplate template: buildr v0.62
 * Author: Vedran Jaic
 * URL: https://www.vedranjaic.com
 */

 @import "solidform/solidform-settings";
 
 // Bootstrap
 @import "bootstrap/bootstrap";

 // solidform
 @import "solidform/mixins";
 @import "solidform/pages";
 @import "solidform/template";
 @import "solidform/typography";
 @import "solidform/lists";
 @import "solidform/navbar";
 @import "solidform/accordion";
 @import "solidform/career-contact";
 @import "solidform/footer";
 @import "solidform/gallery";
 @import "solidform/rolodex";
 @import "solidform/cardflip";
 @import "solidform/imgcontainer";



 // Padding 10
.pt-10 {
    padding-top: $size * 10;
}
.pb-10 {
    padding-bottom: $size * 5;

    @include media-breakpoint-up(md) {
        padding-bottom: $size * 7.5;
    }

    @include media-breakpoint-up(lg) {
        padding-bottom: $size * 10;
    }
}
.mt-10 {
    margin-top: $size * 10;
}
.mb-10 {
    margin-bottom: $size * 10;
}

// Buttons
.btn {
    appearance: none;
    border-radius: $size * 2;
    padding-left: $size * 0.75;
    padding-right: $size * 0.75;

    &.btn-lg {
        padding-left: $size * 1.5;
        padding-right: $size * 1.5;
    }
}

// Navbar dropdown menu
.navbar-nav {
    .w-100 {
        .dropdown-menu {
            width: 100%;
        }
    }
}

// Dropdown carret
.dropdown-toggle {
    &::after {
        border: 0;
        content: "\f107";
        font-family: $font-fa;
        font-size: 0.8em;
        vertical-align: baseline;
    }
}

// Section test
.temp-test {
    background-image: url("assets/images/temp-section1.png");
    background-repeat: no-repeat;
    background-position: 0 -2px;
    background-color: #dad6ed !important;
    background-size: contain;

    .row + .row {
        margin-top: $size * 7;
        padding-bottom: $size * 5;
    }

    .box {
        background-color: $white;
        padding: $size * 3;
        @include border-radius($size);
        height: 100%;
    }
}


// Fade in
.fade-in {
    @include transition(opacity transform, 1s);
    opacity:0;
    transform: translateY($size * 3);
    
    &.visible {
        opacity:1;
        transform: translateY(0);
    }
}

@for $i from 1 through 6 {
    .fade-in:nth-child(#{$i}) {
        &:not(:first-child) {
            transition-delay: 100ms * $i;
        }
    }
}
